@import "tailwindcss";

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(253,115,200,1) 0%, rgba(0,92,141,1) 90.5% );
  border-radius: 8px;
  height: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-image: radial-gradient( circle farthest-corner at 6.3% 21.8%,  rgba(236,6,117,1) 0%, rgba(13,32,67,1) 90% );
}

.scroll-container::-webkit-scrollbar {
  width: 7px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(253,115,200,1) 0%, rgba(0,92,141,1) 90.5% );
  border-radius: 8px;
  height: 3px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-image: radial-gradient( circle farthest-corner at 6.3% 21.8%,  rgba(236,6,117,1) 0%, rgba(13,32,67,1) 90% );
}

.slider-container {
  position: relative;
}

.slider-track {
  animation: scroll-left 10s steps(10) infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
